//this module is imported in the main style.scss file

$renk1: pink;
$renk2: orange;
$renk3: gray;
$renk4: rgb(26, 22, 22);

//fonts
$font1: 'Roboto', sans-serif;
$font2: 'Roboto Condensed', sans-serif;
$font3: 'Roboto Slab', serif;