//extend example

.message {
    float: left;
    width: 300px;
    padding: 15px;
    margin: 15px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.error {
    @extend .message;
    background: red;
}

.success {
    @extend .message;
    background: green;
}

.warning {
    @extend .message;
    background: yellow;
}