//for loop
@for $i from 1 to 11 {
    .box-#{$i} {
        font-size: #{5 * $i +10}px;
    }
}


//while loop
$i : 1;

@while $i <=10 {
    .box-#{$i} {
        letter-spacing: #{5 * $i +10}px;
    }

    $i : $i +1;
}